#page-wrap {
         text-align: center;
         overflow: auto;
}

#page-wrapM {
         text-align: center;
         overflow: auto;
}

.bm-item {
         display: inline-block;
         text-decoration: none;
         margin-bottom: 10px;
         color: #38F84B;
         transition: color 0.2s;
         outline: none;
}

.bm-item:hover {
         color: white;
}

.bm-burger-button {
         position: fixed;
         width: 36px;
         height: 30px;
         left: 20px;
         top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
         background: #38F84B;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
         height: 24px;
         width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
         background: #38F84B;
}

/* General sidebar styles */
.bm-menu {
         background: black;
         padding: 2.5em 1.5em 0;
         font-size: 1.15em;
         width: auto;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
         fill: black;
}

/* Wrapper for item list */
.bm-item-list {
         color: black;
}

nav {
         background-color: black;
}

/* Styling of overlay */
.bm-overlay {
         background: rgba(0, 0, 0, 0.3);
}
