@import "./variables.scss";

.btn {
    border-radius: 100px;
    background-color: #38f84b;
}

.btn:hover {
    background-color: #0ca836;
}

.btn:active {
    background-color: #38f84b;
}

body {
    margin: 0%;
}

.input {
    border-radius: 40px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 20px !important;
    width: 220px !important;
}

.input::placeholder {
    color: #38f84b;
}

.input:active {
    border-bottom: 1px solid #0ca836 !important;
}

.footer2Container {
    margin-left: 53px;
    overflow: hidden;
}

.footer1Text {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    margin: 0px;
    width: 156px;
}

.footer2Text {
    font-size: 12px;
    position: fixed;
    bottom: 10px;
    left: 271px;
    width: 184px;
}

.footer3Text {
    font-size: 12px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 200px;
    text-align: right;
}

.navHolder {
    position: fixed;
    left: 20px;
    top: 20px;
}

.mrgn-20 {
    margin-top: 20px;
}

.timeLINEGetIt {
    position: fixed !important;
    top: 0px;
    left: 61px;
    width: 4px;
    height: 100vh;
    background: #38f84b;
    box-shadow: 0px 0px 50px 8px #38f84b;
}

.timeLINEGetIt1 {
    position: fixed !important;
    top: 0px;
    left: 217px;
    width: 4px;
    height: 100vh;
    background: #38f84b;
    box-shadow: 0px 0px 50px 8px #38f84b;
}

.scheduleButton {
    background: #38f84b;
    border-radius: 40px;
    padding: 9px;
    padding-left: 24px;
    padding-right: 24px;
    color: black;
}

.mrgn-16 {
    margin-top: 32px;
}

.font-caption {
    font-size: 12px;
    color: #38f84b;
}

.scheduleDate {
    font-size: 24px;
    color: #38f84b;
}

.scheduleContainer {
    position: absolute;
    left: 154px;
    height: 100%;
    width: 250px;
}

.timeLineCircle {
    width: 40px;
    height: 40px;
    background-color: #000000;
    border: 4px solid #38f84b;
    border-radius: 100px;
    box-sizing: border-box;
    position: absolute;
    left: 45px;
    margin-top: 13px;
}

.w450 {
    width: 500px;
    display: flex !important;
    justify-content: space-between;
}

.w500 {
    width: 480px !important;
}

.signUpButton {
    border-radius: 40px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 20px !important;
    width: 500px;
    height: 50px;
}

a {
    color: #7bd300;
}

.imageGame {
    position: fixed;
    right: 10px;
    width: 520px;
    height: 364px;
}

.containerAccount {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100vw - 221px);
    top: 212px;
}

.message {
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    max-width: 80%;
    word-wrap: break-word;
    &--white {
        border: #38f84b 1px solid;
    }

    &--blue {
        margin-bottom: 5px;
    }
}

.chatInput {
    width: 580px !important;
}

.chatContainer {
    width: calc(100vw - 221px);
    position: absolute;
    right: 0px;
}

.w100-221 {
    width: calc(100vw - 221px);
    position: absolute;
    bottom: 136px;
}

.LazyLoad {
    width: 638px;
    height: 528px;
    overflow-y: scroll;
    padding-top: 35px;
}

.buttonToDown {
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 220px;
}

.carousel87 {
    width: 290px;
    height: 800px;
}

.carouselContain {
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
}
