// @import './variables.scss';
@import './components.scss';
@import './flex.scss';
@import './typograph.scss';
@import './variables.scss';
@import './bm.scss';
@import './mobile.scss';

@function pow($base, $exp) {
    $res: 1;
    @for $i from 1 through $exp {
        $res: $res * $base;
    }
    @return $res;
}

@each $name, $color in $colors {
    .c-#{$name} {
        color: $color !important;
    }

    .b-#{$name} {
        background-color: $color;
    }

    @for $i from 0 through 10 {
        .br-#{$name}-#{$i} {
            border: solid $color $i + px !important;
        }
        .brb-#{$name}-#{$i} {
            border-bottom: solid $color $i + px;
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}

@for $i from 0 through 10 {
    @for $o from 0 through 10 {
        .h-#{$i}-#{$o} {
            height: pow($i, $o) + px;
        }
        .w-#{$i}-#{$o} {
            width: pow($i, $o) + px !important;
        }
        .fs-#{$i}-#{$o} {
            font-size: pow($i, $o) + px;
        }
        .pa-#{$i}-#{$o} {
            padding: pow($i, $o) + px;
        }
        .pb-#{$i}-#{$o} {
            padding-bottom: pow($i, $o) + px;
        }
        .ph-#{$i}-#{$o} {
            padding-left: pow($i, $o) + px;
            padding-right: pow($i, $o) + px;
        }
        .ma-#{$i}-#{$o} {
            margin: pow($i, $o) + px;
        }
        .mt-#{$i}-#{$o} {
            margin-top: pow($i, $o) + px;
        }
        .ml-#{$i}-#{$o} {
            margin-left: pow($i, $o) + px;
        }
        .mr-#{$i}-#{$o} {
            margin-right: pow($i, $o) + px;
        }
        .mb-#{$i}-#{$o} {
            margin-bottom: pow($i, $o) + px;
        }
        .out-#{$i} {
            outline: solid $i;
        }
    }
}

body {
    margin: 0;
}

.w100 {
    width: 100vw;
}

.h100 {
    height: 100%;
}

.brr {
    border-radius: 50px;
    outline: none;
}

.shadow {   
    border: 1px solid #F0F0F0;
}

.center {
    display: flex;
    align-self: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.between {
    display: flex;
    justify-content: space-between;
}

.pointer {
    cursor: pointer;
}

.vhw {
    width: 100vw;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.loginPage {
    width: 80vw;
}

#root {
    width: 100%;
    scroll-behavior: smooth;
}

.h-fit {
    height: fit-content;
}

body {
    background-color: black;
}