.timeLINEGetItM {
         position: fixed !important;
         top: 0px;
         left: 80px;
         width: 4px;
         height: 100%;
         background: #38f84b;
         box-shadow: 0px 0px 50px 8px #38f84b;
}

.scheduleContainerM {
         position: absolute;
         height: 100%;
         left: 0px;
         width: 100%;
}

.scheduleDateM {
         font-size: 24px;
         color: #38f84b;
}

.timeLineCircleM {
         width: 30px;
         height: 30px;
         background-color: #000000;
         border: 4px solid #38f84b;
         border-radius: 100px;
         box-sizing: border-box;
         position: absolute;
         left: 67px;
         margin-top: 13px;
}

.mrgn-16M {
         margin-top: 65px;
         padding-left: 20px;
         padding-right: 20px;
}

.chatContainerM {
         width: 100%;
}

.LazyLoadM {
         width: 100%;
         height: calc(100vh - 150px);
         position: absolute;
         top: 67px;
         overflow-y: scroll;
}

.chatInputM {
         width: 95vw !important;
}

.w100-221M {
         width: 80vw;
         position: absolute;
         bottom: 10px;
}

.contianerAccountM {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 100%;
}

.w450M {
         width: auto;
}

.w500M {
         width: 70vw;
}

.carouselContainM {
         position: absolute;
         top: 80px;
         display: flex;
         justify-content: center;
}
